<?xml version="1.0"?>
<settings>
  <recordcmd>sox -r 16000 -t alsa default ${audio_file} silence 1 0.1 1% 1 1.5 1%</recordcmd>
  <playcmd>mplayer ${audio_file}</playcmd>
  <language>es</language>
  <welcomemsg>Listo para recibir ordenes</welcomemsg>
  <keyword>lagarto</keyword>
  <reply>¿Qué desea?</reply>
</settings>
